.row_footer{
    padding-top: 5rem;
   background-color: 
   #2F3C4F;
   height: 12em;
   width: 100%;   

}
.className{
    justify-content: center;
    margin: auto;
    color: white;
}
.col-xl-12 form{
    padding-left: 112px;
}