.Container{
    background-color: black;
    margin-bottom: 5%;
    height: 600px;
    font-size: 300px;
}

.Slogan, .Title{
    text-align: center;
    color: white;

}
.Title{
    padding: 10%;
    padding-bottom: 0%;
    
}
.titleLetters{
    font-size: 30%;
}
.strongTitle{
    color: #FBB040;  
}

