.titlelleter{
    font-size: 10rem;
}

.Slogan, .Title{
    text-align: center;
    color: white;
    
    padding: 2%;
    padding-bottom: 2%;
    padding-top:2%;
}


strong{
    color: #FBB040; 
}

