
.cardOne, .cardTwo, .cardThree, .cardFour{
    background-color: #2F3C4F;
    max-width: 15rem;
    border-radius: 2rem;
    font: white;
    margin: auto;
    padding-left: 1%;
    height: 20rem;
    box-shadow: 1rem 1rem 2rem #FBB040;
    color: white;
    text-align: center;
    margin-right: 2rem;
    margin-left: 2rem;
    transition: all .2s ease-in-out;
    margin-top: 5%;
}
.cardOne:hover, .cardTwo:hover, .cardThree:hover, .cardFour:hover{
    transform: scale(1.1);
}
div{
    border: 1pt solid red;
}

.card-title{
    color: #FBB040 ;
    padding-top: 10%;
}

.Cards_Body{
    height: 100%;
    display: flex;
    justify-content: center;
    
}
.Card_Content{
    height: 80%;
    width: 90%;

}
.cardOne{
    margin-right: 2rem;
    margin-left: 10rem; 
    
}



