#Cards_Body{
    
    display: flex;
    justify-content: center;
    
}
.card-title{
    color: #FBB040 ;
    padding-top: 10%;
}
.cardOne, .cardTwo, .cardThree, .cardFour{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(90,92,106,1) 0%, rgba(32,45,58,1) 81.3% );;
    box-shadow: 1rem 1rem 2rem #3bd412;
    color: white;

    max-width: 15rem;
    height: 20rem;
    border-radius: 2rem;
   
    padding-left: 1%;
    
    text-align: center;
    margin: auto;
    margin-top: 5%;
    margin-right: 2rem;
    margin-left: 2rem;
    
    transition: all .2s ease-in-out;
   
}
.cardOne:hover, .cardTwo:hover, .cardThree:hover, .cardFour:hover{
    transform: scale(1.1);
}

.boton{
    width: 100%;
    height: 45%;
    vertical-align: sub;
}
.firstboton{
margin-top: 15%;
}
.secdbtn{
    margin-top: 37%;
}
.thbtn{
    margin-top: 37%;
}
.fthbtn{
    margin-top: 47%;
}




