

.cardOne, .cardTwo, .cardThree, .cardFour{
    background-color: #2F3C4F;
    max-width: 15rem;
    border-radius: 2rem;
    font: white;
    margin: auto;
    height: 20rem;
    box-shadow: 1rem 1rem 2rem #FBB040;
    color: white;
    text-align: center;
    margin-right: 2rem;
    margin-left: 2rem;
    
    
}

.card-title{
    color: #FBB040 ;
}

.cardBody{
    display: flex;
}

.cardOne{
    margin-right: 2rem;
    margin-left: 10rem;
}
.cardFour{
    margin-left: 2rem;
    margin-right: 8rem;
}
